<table cellpadding="0" cellspacing="0">
    <tr>
        <td><img src="cid:logo_x60" alt="CeyBid"/></td>
        <td valign="top" style="font-size:10px;color:#555; padding:0 0 0 10px;">
            <b>CeyBid sent this message to $fullName ($username).</b><br/>
            Your registered name is included to show this message originated from CeyBid.
        </td>
    </tr>
</table>

<h2>$title</h2>

<p>Dear $name,</p>

<p>Welcome to CeyBid Community! <br>
    Your activation code is <b>$verificationCode</b></p>
Type <b>group4</b> [space] <b>act</b> [space] [activation code] and send to 0720260442
   <br>
<p>If you need additional help, contact CeyBid's Customer Support or <a href="http://help.ceybid.com">Help</a></p>

<hr/>

<div style="font-size:10px; color:#555;">

    <p>
        Copyright &copy; 2010 CeyBid Lanka (Private) Limited. All Rights Reserved. Designated trademarks and brands are
        the property of
        their respective owners. CeyBid and the CeyBid logo are trademarks of CeyBid Lanka (Private) Limited.
        <br/>
        CeyBid Lanka (Private) Limited is located at 414 2/1, Nawala Road, Nawala-Rajagiriya, Sri Lanka.
    </p>

    <p>
        Customer Services Hotlines:+94(0) 112 88 33 22 || +94(0) 112 88 33 25 || +94(0) 722 22 35 88
    </p>
    <h5>This is a post-only mailing. Replies to this message are not monitored or answered.</h5>
</div>

